<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="/code-mirror/lib/codemirror.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
    <textarea id="editor"></textarea>

    <style>
        #editor{
            border: 1px solid blue;
        }
    </style>





    <script src="/code-mirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="/code-mirror/mode/javascript/javascript.js"></script>

    <script>
        var myCodeMirror = CodeMirror.fromTextArea(document.querySelector('#editor'), {
            lineNumbers: true,
            mode: "javascript"
        });
    </script>
    
</body>
</html>
