<!doctype html>
<html>
<head>
    <title>Student's Sandbox</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" /><!-- install through npm -->
    <link rel="stylesheet" href="/code-mirror/lib/codemirror.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="container">
    <section class="dashboard-container">
        
        <section>Project
        </section>
        <section>Tasks
        </section>
        <section>Contributors</section>
        <section>Notes</section>
    </section>
    <section class="actions-container">
        <button>Save</button>
        <button>Commit (coming soon)</button>
    </section>
    <section class="editor-container">

        <textarea id="editor"></textarea>
    </section>
    <section class="details-container">
    </section>
    </section>


    <script src="/code-mirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="/code-mirror/mode/javascript/javascript.js"></script>

    <script>
        var myCodeMirror = CodeMirror.fromTextArea(document.querySelector('#editor'), {
            lineNumbers: true,
            mode: "javascript",
            theme: 'monokai'
        });
    </script>
    
</body>
</html>
